<IfModule mod_rewrite.c>
  RewriteEngine On

  # Define la ruta base (coincide con tu carpeta y el --base-href)
  RewriteBase /dashboard/

  # Si la petición es un archivo o directorio que existe físicamente, sírvelo
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Si no existe (es una ruta de Angular), redirige todo a index.html
  RewriteRule ^ index.html [L]
</IfModule>