<aside class="sidebar-container d-flex flex-column flex-shrink-0">
  
  <div class="sidebar-header">
    <button class="btn btn-toggle" (click)="onToggleSidebar()">
      <i class="bi bi-list"></i>
    </button>
  </div>
  <hr class="sidebar-divider">

  <div class="sidebar-nav-scroll">
    <ul class="nav nav-pills flex-column">
      <li class="nav-category-title">
        <small>MENÚ PRINCIPAL</small>
      </li>
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">
          <i class="bi bi-house-door me-2"></i>
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a routerLink="/registrar-trabajo" routerLinkActive="active" class="nav-link">
          <i class="bi bi-journal-plus me-2"></i>
          <span>Registrar Trabajo</span>
        </a>
      </li>
      <li class="nav-category-title mt-3">
        <small>GESTIÓN</small>
      </li>
      <li><a href="#" class="nav-link"><i class="bi bi-card-checklist me-2"></i><span>Checklists</span></a></li>
      <li><a href="#" class="nav-link"><i class="bi bi-building me-2"></i><span>Centros</span></a></li>
      <li><a href="#" class="nav-link"><i class="bi bi-bar-chart-line me-2"></i><span>Reportes</span></a></li>
    </ul>
  </div>
  
  <hr class="sidebar-divider mt-auto">
  <div class="dropup"> 
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle p-2" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person-circle me-2 fs-4"></i>
      <strong>Usuario</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
      <li><a class="dropdown-item" href="#">Configuración</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
    </ul>
  </div>
</aside>